# Test Notebook

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import re

# URL of the website to scrape
url_base = "http://quotes.toscrape.com"

# List to store scraped data
list_quote = []

In [2]:
response = requests.get(url_base)
soup = BeautifulSoup(response.text, 'html.parser')
quotes = soup.find_all('div', class_='quote')

In [3]:
from data_scraping import data_scraper
from data_cleaning import data_cleaner

In [4]:
# Scrape the data
scraped_data = data_scraper(url_base)

# Save raw data
raw_file = "quotes_raw.csv"
scraped_data.to_csv(raw_file, index=False)

=== Get response from http://quotes.toscrape.com. ===
=== Status code 200. ===
=== Start scraping. ===
=== Done scraping. ===
=== Move to the next page. ===
=== Get response from http://quotes.toscrape.com/page/2/. ===
=== Status code 200. ===
=== Start scraping. ===
=== Done scraping. ===
=== Move to the next page. ===
=== Get response from http://quotes.toscrape.com/page/3/. ===
=== Status code 200. ===
=== Start scraping. ===
=== Done scraping. ===
=== Move to the next page. ===
=== Get response from http://quotes.toscrape.com/page/4/. ===
=== Status code 200. ===
=== Start scraping. ===
=== Done scraping. ===
=== Move to the next page. ===
=== Get response from http://quotes.toscrape.com/page/5/. ===
=== Status code 200. ===
=== Start scraping. ===
=== Done scraping. ===
=== Move to the next page. ===
=== Get response from http://quotes.toscrape.com/page/6/. ===
=== Status code 200. ===
=== Start scraping. ===
=== Done scraping. ===
=== Move to the next page. ===
=== Get response from http://quotes.toscrape.com/page/7/. ===
=== Status code 200. ===
=== Start scraping. ===
=== Done scraping. ===
=== Move to the next page. ===
=== Get response from http://quotes.toscrape.com/page/8/. ===
=== Status code 200. ===
=== Start scraping. ===
=== Done scraping. ===
=== Move to the next page. ===
=== Get response from http://quotes.toscrape.com/page/9/. ===
=== Status code 200. ===
=== Start scraping. ===
=== Done scraping. ===
=== Move to the next page. ===
=== Get response from http://quotes.toscrape.com/page/10/. ===
=== Status code 200. ===
=== Start scraping. ===
=== Done scraping. ===
=== All pages have been covered. ===
=== Scraping completed. ===

In [5]:
# Clean the data
cleaned_file = "quotes_clean.csv"
data_cleaner(raw_file, cleaned_file)

=== Remove special characters in column `quote`. ===
=== Cleaning done. Now storing the cleaned data in a new CSV file. ===
=== The new CSV file has been created, named as quotes_clean.csv ===

In [6]:
# Load the cleaned data for analysis
data = pd.read_csv(cleaned_file)
data.head()

,quote,author,tag
0,The world as we have created it is a process o...,Albert Einstein,"change, deep-thoughts, thinking, world"
1,It is our choices Harry that show what we trul...,J.K. Rowling,"abilities, choices"
2,There are only two ways to live your life One ...,Albert Einstein,"inspirational, life, live, miracle, miracles"
3,The person be it gentleman or lady who has not...,Jane Austen,"aliteracy, books, classic, humor"
4,Imperfection is beauty madness is genius and i...,Marilyn Monroe,"be-yourself, inspirational"

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   quote   100 non-null    object
 1   author  100 non-null    object
 2   tag     97 non-null     object
dtypes: object(3)
memory usage: 2.5+ KB

In [8]:
data.describe()

,quote,author,tag
count,100,100,97
unique,100,50,83
top,The world as we have created it is a process o...,Albert Einstein,love
freq,1,10,4